In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from googletrans import Translator
import googletrans
%matplotlib inline

In [2]:
dd = pd.read_csv('./data/sales_train.csv.gz')
df_items = pd.read_csv('./data/items.csv')
df_item_categories = pd.read_csv('./data/item_categories.csv')

In [5]:
dd.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [19]:
dd[dd['item_id']==0]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1972636,01.09.2014,20,54,0,58.0,1.0

In [10]:
df_items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [16]:
df_items[df_items['item_id']==83]

                      item_name  item_id  item_category_id
83  12/ДВЕНАДЦАТЬ (СР) (Регион)       83                40

In [18]:
df_item_categories[df_item_categories['item_category_id']==40]

   item_category_name  item_category_id
40         Кино - DVD                40